<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>jQuery File Upload Demo</title>
	<meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bar and preview images for jQuery. Supports cross-domain, chunked and resumable file uploads. Works with any server-side platform (Google App Engine, PHP, Python, Ruby on Rails, Java, etc.) that supports standard HTML form file uploads.">
	<!-- Bootstrap CSS Toolkit styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript">
$(document).ready(function() {
	$('#myForm').submit(function() {
		$('#submitBtn').replaceWith('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');
	});
});
	</script>
</head>
<body>
	
{% block upload %}
<form enctype="multipart/form-data" method="post" action="#" class="well" id="myForm">
   <table>
       {{form.as_table}}
    </table>
    <input type="submit" value="Submit" id="submitBtn" class="btn" />
</form>
{% endblock %}
<div id="output">
</div>
</body>
</html> 